@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

body {
    font-family: 'Lobster Two', sans-serif;
    font-weight: 300;
    background: rgba(235, 235, 227, 1);
    color: rgba(0, 0, 0, .7);
}

body h1 {
    font-weight: 300;
    margin: 0px;
}